{%  extends 'base.html' %}
{% block title %}开始预测{% endblock  %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static',filename='css/question.css')}}">

{% endblock %}

{% block main %}
<!--
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">电影名称</label>
            <div class="col-sm-10">
                <div class="form-group has-error has-feedback">
                    <label class="control-label" for="inputError2">Input with error</label>
                    <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status" placeholder="请输入电影名称">
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    <span id="inputError2Status" class="sr-only">(error)</span>
                </div>
            </div>
    </div>

https://v3.bootcss.com/css/#forms-inline
-->
<h3 class="page-title">开始预测</h3>
<form class="form-horizontal" method="post">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">电影名称</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="请输入电影名称">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDirector" class="col-sm-2 control-label">电影导演</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDirector" placeholder="请输入电影导演">
        </div>
    </div>
    <div class="form-group">
        <label for="inputScriptWriter" class="col-sm-2 control-label">电影编剧</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputScriptWriter" placeholder="请输入电影编剧">
        </div>
    </div>
    <div class="form-group">
        <label for="inputReleaseDate" class="col-sm-2 control-label">上映档期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputReleaseDate" placeholder="请输入上映档期">
        </div>
    </div>

    <div class="form-group">
        <label  class="col-sm-2 control-label">电影类型</label>
            <div class="col-sm-10">
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> 剧情
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox2" value="option2"> 喜剧
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox3" value="option3"> 动作
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox4" value="option4"> 爱情
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox5" value="option5"> 科幻
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox6" value="option6"> 惊悚
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox7" value="option7"> 犯罪
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox8" value="option8"> 传记
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox9" value="option9"> 战争
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox10" value="option10"> 冒险
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" id="inlineCheckbox11" value="option11"> 灾难
                </label>
            </div>

    </div>

    <div class="form-group">
        <label for="inputStar1" class="col-sm-2 control-label">电影主演1</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStar1" placeholder="请输入电影主演">
        </div>
    </div>
    <div class="form-group">
        <label for="inputStar2" class="col-sm-2 control-label">电影主演2</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStar2" placeholder="请输入电影主演">
        </div>
    </div>
    <div class="form-group">
        <label for="inputStar3" class="col-sm-2 control-label">电影主演3</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStar3" placeholder="请输入电影主演">
        </div>
    </div>
    <div class="form-group">
        <label for="inputStar4" class="col-sm-2 control-label">电影主演4</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputStar4" placeholder="请输入电影主演">
        </div>
    </div>
    <div class="form-group">
        <label for="inputIssuingCompany" class="col-sm-2 control-label">发行公司</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="inputIssuingCompany" placeholder="请输入发行公司">
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">开始预测</button>
        </div>
    </div>
</form>

{% endblock %}